@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700');
$primary: #ff5b1b;
$texto: #484848;
$background: #fafafa;

@mixin transition($property: all, $duration: .3s, $ease: linear) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.btn-primary,
.btn-secondary {
    color: #fff;
    background-color: $primary;
    border: 1px solid $primary;
    padding: 1rem 2rem;
    font-size: 1.5625rem;
    line-height: 1.6rem;
    border-radius: 15px;
    font-weight: 600;
    @include transition(all, .3s, ease-out);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background-color: #f7911e;
        border: 1px solid #f7911e;
        text-decoration: none;
    }

    &:before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 1rem;
        position: relative;
        font-size: inherit;
        color: inherit;
        display: inline;
    }
}

.btn-secondary {
    background: #bababa;
    border: 1px solid #bababa;

    &.small {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem 0.5rem;
        &:before {
            margin-right: 5px;
        }
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #a0a0a0;
        border: 1px solid #a0a0a0;
    }

    &:before {
        content: "\f053";
    }
}

.contentBackground {
    background: $background;
}

.whiteBackground {
    background: #FFF;
}

header#headerSite {
    background: #f2f2f2;
    border-top: solid 3px $primary;
    border-bottom: solid 2px $primary;

    .headerSuperior {

        .primario,
        .secundario {
            ul {
                padding-top: 5px;
                text-align: right;

                li {
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;

                    a {
                        color: #666666;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 0.75rem;

                        i {
                            font-size: 1rem;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }

        .secundario {
            background: $primary;
            border-radius: 0 0 5px 5px;

            ul {
                padding-top: 5px;
                padding-bottom: 5px;

                li {
                    width: 50%;
                    margin: 0;
                    display: block;
                    float: left;
                    text-align: center;

                    a {
                        color: white;
                        line-height: 1.2rem;
                    }

                    &:first-child {
                        border-right: 1px solid white;
                    }
                }
            }
        }
    }

    .headerInferior {
        position: relative;
        top: 30px;

        #menuPrincipal {
            ul {
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: right;
                padding-right: 50px;

                li {
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-right: 1px solid #666666;

                    a {
                        color: #666666;
                        font-weight: 600;
                        font-size: 1rem;

                        i {
                            font-size: 1rem;
                            position: relative;
                            top: 2px;
                        }
                    }

                    &:last-child {
                        border-right: none;
                    }

                    &.active {
                        a {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.owl-carousel.owl-theme {
    .owl-dots {
        position: absolute;
        bottom: 10px;
        width: 100%;

        .owl-dot {
            span {
                background: #cbcbcb;
                width: 18px;
                height: 18px;

            }

            &.active {
                span {
                    background: #FFF;
                }
            }
        }
    }

}

#content {
    article {
        margin-bottom: 1px;
    }
}

footer#footerSite {
    border-top: solid 3px $primary;
    background: #bababa;
    background: -moz-linear-gradient(top, #bababa 0%, #868686 100%);
    background: -webkit-linear-gradient(top, #bababa 0%, #868686 100%);
    background: linear-gradient(to bottom, #bababa 0%, #868686 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#868686', GradientType=0);

    .textoSmall {
        color: white;
        font-size: 0.6875rem;
        line-height: 0.9rem;
        font-weight: 300;
        max-width: 250px;
    }

    .LinkedIn {
        a {
            color: white;
            text-transform: uppercase;
            font-size: 0.875rem;
            @include transition(all, .3s, ease-out);

            &:hover,
            &:active,
            &:focus {
                color: $primary;
            }
        }
    }

    .footerBottom {
        background: #6e6e6e;

        .copy {
            font-size: 0.725rem;
            font-weight: 400;
            color: #e2e2e2;

            a {
                color: #e2e2e2;
                text-decoration: underline;
                @include transition(all, .3s, ease-out);

                &:hover,
                &:active,
                &:focus {
                    color: #FFF;
                }
            }
        }
    }

    hr {
        border-width: 1px;
        border-color: white;
    }

    nav {
        ul {
            li {
                color: white;
                font-size: 0.6875rem;
                line-height: 1.3rem;

                &.titulo {
                    text-decoration: underline;
                    font-weight: 600;
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 300;
                    @include transition(all, .3s, ease-out);

                    &:hover,
                    &:active,
                    &:focus {
                        color: $primary;
                    }
                }

                &:not(.titulo) a {
                    &:before {
                        content: "\f054";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 5px;
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .RRSS {
        text-align: center;

        a {
            color: white;
            font-size: 2rem;
            letter-spacing: 1rem;
        }
    }
}

.bottom-border {
    border-bottom: 1px solid #FFF;
}

#content {
    .bannerInterior {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;

        &.whiteColor {

            h1,
            .bajada {
                color: white;
            }
        }
    }
    .bannerContacto {
        min-height: 250px;
    }

    h1 {
        font-size: 3.4375rem;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 400;

        &.primary {
            color: $primary;
        }
    }
    .share {
        position: relative;
        @media all and (min-width:768px){
            top: -1rem;
        }
        li {
            display: inline-block;
            margin-left: 15px;
            @media all and (max-width:767px){
                margin: 0;
                margin-bottom: 10px;
                display: block;
            }
        }
        a {
            color: $texto;
            text-decoration: none;
        }
    }
    .bajada {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: $texto;
    }
    .font-weight-300 {
        font-weight: 300;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: $texto;

        &.bigger {
            font-size: 1.375rem;
        }

        &.grayColor {
            color: #6d6d6d;
        }
        &.small {
            font-size: 1rem;
        }
    }

    .contenido {
        font-size: 1rem;
        color: $texto;
        font-weight: 100;
        line-height: 1.5rem;

        p {
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
    }
}

.nav-tabs {
    border: none;

    .nav-link {
        background: #ededed;
        border: none;
        border-radius: 5px 5px 0 0;
        font-size: 1.25rem;
        color: black;
        font-weight: 400;
        margin-right: 0.6rem;
        padding: 0.6rem 1.5rem;

        &:before {
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            position: relative;
            top: -2px;
            font-size: 0.825rem;
            color: $primary;
        }

        &.active {
            background: $background;
            color: #717171;

            &:before {
                color: #717171;
            }
        }
    }
}

.tab-content {
    &>.active {
        background: $background;
    }
}

%download {
    display: inline;

    a {
        font-size: 1rem;
        color: $texto;
        margin-right: 5px;
        @include transition(all, .3s, ease-out);

        &:hover,
        &:active,
        &:focus {
            color: $primary;
        }
    }
}

.listado-right {
    .accordion {

        .card-header,
        .card {
            border-radius: 0;
        }

        .btn-link {
            position: relative;
            display: block;
            background: #c4c4c4;
            width: 100%;
            text-align: left;
            color: #FFF;
            text-transform: uppercase;
            border-radius: 0;
            padding: 0.5rem 2.2rem 0.6rem;

            .text-num {
                position: absolute;
                top: 0;
                right: 2.2rem;
                line-height: 2.2rem;
            }

            &:before {
                display: none;
            }

            &:after {
                content: "\f077";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 5px;
                position: absolute;
                top: 0;
                right: 0;
                line-height: 2.2rem;
                background: none;
                color: #FFF;
                border-radius: 0;
                padding: 0 0.3rem;
                font-size: 1em;
            }

            &.collapsed:after {
                content: "\f078";
            }
        }

        .download {
            @extend %download;

            a {
                font-size: 1.8rem;
                color: #808285;
            }
        }
    }
}

.accordion {
    .card {
        background: none;
        border: none;
    }

    .card-header {
        background: none;
        border: none;
        padding: 0;
    }

    .card-body {
        padding: 0.5rem;
    }

    .btn-link {
        color: $texto;
        font-size: 1.125rem;
        line-height: 1.125rem;
        font-weight: 600;

        &:before {
            content: "\f068";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            position: relative;
            top: -2px;
            font-size: 0.825rem;
            background: $primary;
            color: #FFF;
            border-radius: 5px;
            padding: 0.2rem 0.3rem;
            font-size: 0.7rem;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        &.collapsed:before {
            content: "\f067";
            background: #FFF;
            color: $texto;
        }
    }
}

ul:not(.nav):not(.list-unstyled) {
    list-style: none;
    padding-left: 0.82rem;

    li {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 400;
        color: black;

        &.conDescarga {
            .text {
                display: inline;
                font-weight: 700;
            }

            .download {
                @extend %download;
            }
        }

        &:before {
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            position: relative;
            top: -2px;
            font-size: 0.825rem;
            color: $primary;
            display: inline;
        }
    }
}

.serviciosSelected {
    ul {
        margin: 0;

        li {
            line-height: 1.8rem;
        }
    }

    ul.list-primary {
        li {
            color: $primary;
            font-weight: 600;

            &:before {
                color: #d6d6d6;
            }
        }
    }
}

.pasosHub {

    .paso_1,
    .paso_2,
    .paso_3 {
        position: relative;

        &:after {
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: relative;
            font-size: 3rem;
            color: #d9d9d9;
            display: block;
            position: absolute;
            top: 35%;
            right: 0;
        }
    }

    .paso_3 {
        &:after {
            display: none;
        }
    }
}

hr {
    border-width: 2px;

    &.white {
        border-color: white;
    }
}

.custom-control {
    line-height: 1.8rem;
    padding-left: 1.8rem;
    font-size: 1.125rem;
    color: $texto;
}

.custom-control-label {
    line-height: 1.3rem;
}

.custom-checkbox .custom-control-input~.custom-control-label::before,
.custom-control-label::after {
    top: 0.1rem;
    width: 1.3rem;
    height: 1.3rem;
    left: -1.8rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
    outline-color: $primary;
    width: 1.3rem;
    height: 1.3rem;
}

.custom-control-input~.custom-control-label::before {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 2px solid #b4b4b4;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    outline-color: $primary;
}

.datosContacto,
.datosContactoP {
    ul {
        li {
            line-height: 1.2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 50px;

            a {
                font-size: 1rem;
                color: $texto;

                i {
                    color: #f7931e;
                    font-size: 2rem;
                    padding-right: 0.5rem;
                    min-width: 50px;
                    text-align: center;
                    margin-left: -50px;
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
}
.datosContactoP {
    ul li {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    h4 {
        font-size: 1.2rem;
        margin-bottom: 5px;
        font-weight: 700;
    }
    h5 {
        font-size: 0.925rem;
        margin-bottom: 5px;
    }
}
.pdfDownload {
    .icon {
        font-size: 3rem;
        text-align: center;
        color: #808285;
        margin-bottom: 1rem;
    }
    .button {
        text-align: left;
        background: #f7931e;
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 45px;
        position: relative;
        max-width: 150px;
        min-height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        i {
            display: block;
            position: absolute;
            left: 10px;
            top: 12px;
            font-size: 24px;
        }
    }
}

form.form {
    h2.title {
        position: relative;

        &:before {
            content: "";
            background: #ee2d51;
            width: 25px;
            height: 2px;
            display: block;
            position: absolute;
            left: -35px;
            top: 20px;
        }
    }
    input, textarea {
        background: #fbfbfb;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #bdbdbd;
    }
    .custom-control-label {
        font-size: 0.825rem;
        line-height: 1.3rem;
        font-weight: 600;
        color: #6d6d6d;
    }
    .btn-primary,
    .btn-secondary {
        padding: 0.7rem 1.5rem;
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}
.font-weight-medium {
    font-weight: 600;
}