@media all and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media all and (max-width: 768px) {
    .logoContainer {
        text-align: left !important;
    }

}

@media all and (max-width: 767px) {
    #triggerMenu {
        position: absolute;
        right: 20px;
        bottom: -65px;

        i {
            font-size: 2rem;
            color: #666;
        }
    }

    .logoContainer {
        img {
            max-width: 210px;
        }
    }

    #menuMobile {
        box-sizing: content-box;
        padding: 1rem;
        background: #bdbdbd;
        box-shadow: inset 4px -4px 6px 0px rgba(0, 0, 0, 0.3);

        a {
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #333;
            font-weight: 600;
        }
    }

    #content .bajada {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .pasosHub .paso_1,
    .pasosHub .paso_2,
    .pasosHub .paso_3 {
        padding-bottom: 1rem;
    }

    .pasosHub .paso_1:after,
    .pasosHub .paso_2:after,
    .pasosHub .paso_3:after {
        display: none;
    }

    #content h2.bigger {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }

    .download {
        text-align: center;
        padding: 1rem 0;
    }

    .nav-tabs .nav-item {
        display: block;
        width: 100%;

        .nav-link {
            width: 100%;
            margin: 0;
            display: block;
            text-align: center;
        }
    }
    .accordion .btn-link {
        text-align: left;
    }
}